[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
cement = '>= 3.0.4' # for command line programs
connexion = {extras = ['swagger-ui']}
datanator_query_python = '== 0.6.24'
flask_cors = '*'
flask_profiler = '*'
gunicorn = '*' # web server
openapi_resolver = '*' # to process api files
openapi_spec_validator = '*'
setuptools = '*' # for pkg_resources module
swagger_ui_bundle = { git = 'https://github.com/KarrLab/datanator_swagger_ui_bundle.git'}

[dev-packages]
capturer = '*' # to capture standard output in tests
flask = '>= 1.1.0'
mock = '*' # to mock python classes and methods
prance = '*' #to parse api
pytest = '*'
