[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cement = ">= 3.0.4"
flask_cors = "*"
flask_profiler = "*"
gunicorn = "*"
openapi_resolver = "*"
openapi_spec_validator = "*"
setuptools = "*"
pytest = "*"
pkg_utils = {git = "https://github.com/KarrLab/pkg_utils.git", editable = true}
datanator_query_python = {git = "https://github.com/KarrLab/datanator_query_python.git", editable = true}

[dev-packages]
capturer = "*"
flask = ">= 1.1.0"
mock = "*"
prance = "*"
pytest = "*"

[packages.connexion]
extras = [ "swagger-ui",]

[packages.swagger_ui_bundle]
git = "https://github.com/KarrLab/datanator_swagger_ui_bundle.git"