cement >= 3.0.4 # for command line programs
connexion[swagger-ui]
datanator_query_python == 0.6.30
flask_cors
flask_profiler
gunicorn # web server
openapi_resolver # to process api files
openapi_spec_validator
setuptools # for pkg_resources module
